body {
  background-color: black;
}
header {
  font-family:monospace;
  text-align: center;
  width: 100%;
  font-size: 45px;
  background-color: #282828;
  color: white;
  padding-bottom: 25px;
  padding-top: 25px;
  /*background:
    linear-gradient(
      45deg, transparent 33.333%,
      #282828 33.333%, #282828 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #282828 33.333%, #282828 66.667%,
      transparent 66.667%
    );*/
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
}
#basics {
  width: 30%;
  padding: 30px;
  text-align: center;
}
#basics p {
  font-size: 12px;
  text-align: left;
  color: gray;
}
#basics p span {
  color: #4C997F;
}
#story {
  text-align: center;
  width: 30%;
}
#story p {
  font-size: 15px;
  text-align: left;
  border-left: solid 1px;
  border-color: gray;
  padding-left: 25px;
  color: gray;
}
#image {
  width: 30%;
  padding: 30px;
}
#image img {
  width: 40%;
  border-radius: 50%;
}
